:root {
    --background: #ffffff;
    --text: #000000;
    --primary: #1b5c36;
    --border-color: #888888;
    --header-font: Georgia;
    --body-font: Verdana;
    --rem: 16px;
    --h1: 3.0rem;
    --h2: 2.5rem;
    --h3: 2.0rem;
    --h4: 1.5rem;
    --h5: 1.25rem;
    --h6: 1rem;
    --p: 1rem;
    --radius: .25em;
}

html {
    background-color: var(--background);
    font-family: var(--body-font);
    color: var(--text);
    font-size: var(--rem);
}

body{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 1em;
}

input, label{
    font-family: var(--body-font);
    margin: .25em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    padding: .25rem 0;
    margin: .25rem 0;
}

h1{
    font-size: var(--h1);
}

h2{
    font-size: var(--h2);
}

h3{
    font-size: var(--h3);
}

h4{
    font-size: var(--h4);
}

h5{
    font-size: var(--h5);
}

h6{
    font-size: var(--h6);
}

p{
    max-width: 50em;
}

.primary{
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--background);
    background: var(--primary);
    border: none;
    border-radius: var(--radius);
    padding: .5em 1em;
}

.secondary{
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
    background-color: var(--background);
    border: .125em solid var(--primary);
    border-radius: var(--radius);
    padding: .5em 1em;
}

select{
    font-family: var(--font);
    font-size: 1rem;
    color: var(--text);
    background-color: var(--background);
    border: .0625em solid var(--border-color);
    border-radius: var(--radius);
    padding: .5em;
}

input[type=number]{
    font-size: 1rem;
    font: var(--font);
    color: var(--text);
    background-color: var(--background);
    border: .0625em solid var(--border-color);
    border-radius: var(--radius);
    padding: .25em;        
}


aside{
    font-size: 18px;
    border-left: .0625em solid var(--border-color);
    padding-left: 1em;
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 40%;
    grid-gap: 1em 0;
    grid-template-rows: repeat(10, 2em);
}

aside > input, aside > label, aside > select{
    font-size: 1em;
    padding: initial;
    width: auto;
}