:root{
    --controls: #f8f8f8;
}

#control-panel{
    font-size: 18px;
    font-family: roboto;
    border-left: .0625em solid var(--border-color);
    padding: 1em;
    height: 100vh;
    background-color: #444444;
}

#control-panel > details {
    padding-bottom: 1em;
    border-bottom: .0625em solid var(--controls);
    margin-bottom: 1em;
    color: var(--controls);
}

#control-panel .input-field > input, #control-panel > .input-field > label, #control-panel > .input-field >select {
    font-size: 1em ;
    padding: unset;
    width: auto;
    color: var(--controls);
    border-color: var(--controls);
}

#control-panel > details .input-field {
    margin-top: 1em;
}

#control-panel .input-field > input[type=number]{
    color: var(--text);
    padding: .5em 0 .5em .5em;
    width: 100%;
}

.control{
    font-size: 18px;
}